<div class="row">
    <div class="col-md-12">
        <h4><%= r.name %></h4>
        <p><a href="<%= r.website %>"><%= r.website %></a></p>
        <br />
        <p><%= r.description %></p>
    </div>
</div>
