<div class="row">
    <div class="col-md-12">
        <h4><%= r.name %> (<%= r.nickname %>)</h4>
        <% if r.website != nil %>
            <%= link_to(r.website) %>
        <% else %>
            <p>No website listed</p>
        <% end %>
        <% if r.description != nil %>
            <p><%= r.description %></p>
        <% else %>
            <p>No description listed</p>
        <% end %>
        
    </div>
</div>
